<mat-expansion-panel>
    <mat-expansion-panel-header>
       <mat-panel-title>
          Personal data
       </mat-panel-title>
       <mat-panel-description>
          Type name and age
       </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
       <input matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field>
       <input matInput placeholder="Age">
    </mat-form-field>
 </mat-expansion-panel>
