.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width:100px;
}
.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

