<div class="card" style="display:block; position:relative;margin-top:2em;">
  <div class="card-body">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create two elements seperated
        </mat-panel-title>
        <mat-panel-description (click)="isShow = !isShow">
          Click to show test box
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field>
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Padding</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="padding"
            placeholder="33"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Margin</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="margin"
            placeholder="33"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </mat-form-field>
      <br />

      <mat-form-field>
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Width %</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="width"
            placeholder="33"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </mat-form-field>

      <mat-form-field>
        <div class="input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Height%</span>
          </div>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="height"
            placeholder="33"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </mat-form-field>
      <br />
    </mat-expansion-panel>
    <br />

    <div class="ruleOptionsPanel" *ngIf="!isShow">
      <div style="border: 1px solid rgba(0,0,0,.125);">
        <div
          class="card-body"
          [ngStyle]="{
            'background-color': 'tomato',
            border: '1px solid rgba(0,0,0,.125)',
            'text-align':'center'
          }"
          [style.width.%]="this.width"
          [style.height.%]="this.height"
          [style.padding.px]="this.padding"
          [style.margin.px]="this.margin"
        >
          Button
        </div>
      </div>
    </div>
  </div>
</div>
