<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">HTML/CSS</a>
      <a mat-list-item href="#">JS</a>
      <a mat-list-item href="#">PHP</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>learn</span>
      <br />
      <hr />
    </mat-toolbar>
    <!-- Add Content Here -->

    <mat-toolbar class="mx-auto" style="display: block;width: 100%;">
      <mat-tab-group class="mx-auto" style="width: 100%;">
        <mat-tab label="BUTTON">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="4" [rowspan]="7">
              <app-htmls></app-htmls>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="RESOURCES">
          <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="4" [rowspan]="7">
                <app-htmlresources></app-htmlresources>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-tab>
        <mat-tab label="PRACTICE"> Content 3 </mat-tab>
      </mat-tab-group>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
